<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="exit-menu" label="Exit">
		<item label="Log out">
			<action name="Execute">
				<command>
                    al-exit --logout
                </command>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<command>
                    al-exit --suspend
                </command>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<command>
                    al-exit --reboot
                </command>
			</action>
		</item>
		<item label="Power off">
			<action name="Execute">
				<command>
                    al-exit --poweroff
                </command>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal">
			<action name="Execute">
				<command>
                    termite
                </command>
			</action>
		</item>
		<item label="Run Program">
			<action name="Execute">
				<command>
                    gmrun
                </command>
			</action>
		</item>
		<item label="Kill Nemo">
			<action name="Execute">
				<execute>nemo --quit</execute>
			</action>
		</item>
		<separator/>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<command>
                    thunar
                </command>
			</action>
		</item>
		<item label="Nemo">
			<action name="Execute">
				<execute>nemo</execute>
			</action>
		</item>
		<item label="Sublime Text">
			<action name="Execute">
				<execute>subl3</execute>
			</action>
		</item>
		<item label="Geany">
			<action name="Execute">
				<command>
                    geany
                </command>
			</action>
		</item>
		<separator/>
		<menu id="accessories" label="Accessories">
			<item label="ALOB Themes Manager">
				<action name="Execute">
					<command>al-obthemes</command>
				</action>
			</item>
			<item label="Archive Manager">
				<action name="Execute">
					<command>file-roller</command>
				</action>
			</item>
			<item label="Catfish File Search">
				<action name="Execute">
					<command>catfish</command>
				</action>
			</item>
			<item label="Task Manager (htop)">
				<action name="Execute">
					<command>urxvt -T 'htop task manager' -e htop</command>
				</action>
			</item>			
			<item label="Urxvt Terminal">
				<action name="Execute">
					<command>urxvt</command>
				</action>
			</item>		
			<item label="Usb - image to usb">
				<action name="Execute">
					<command>mintstick -m iso</command>
				</action>
			</item>
			<item label="Usb - format">
				<action name="Execute">
					<command>mintstick -m format</command>
				</action>
			</item>
		</menu>
		<menu id="graphics" label="Graphics">
			<item label="GIMP">
				<action name="Execute">
					<command>gimp</command>
				</action>
			</item>
			<item label="Inkscape">
				<action name="Execute">
					<command>inkscape</command>
				</action>
			</item>
			<item label="Ristretto">
				<action name="Execute">
					<command>ristretto</command>
				</action>
			</item>
			<item label="Screenshot">
				<action name="Execute">
					<command>scrot '%Y-%m-%d-%s_screenshot_$wx$h.jpg' -e 'mv $f ~/Screenshots/'</command>
				</action>
			</item>
			<item label="Screenshot in 5">
				<action name="Execute">
					<command>scrot -d 5 'ARCHLabs.png' -e  'mv $f ~/Screenshots/ ; mirage ~/Screenshots/$f'</command>
				</action>
			</item>
			<item label="Screenshot in 10">
				<action name="Execute">
					<command>scrot -d 10 'ARCHLabs.png' -e  'mv $f ~/Screenshots/ ; mirage ~/Screenshots/$f'</command>
				</action>
			</item>
			<item label="Viewnior">
				<action name="Execute">
					<command>viewnior</command>
				</action>
			</item>
		</menu>
		<menu id="multimedia" label="Multimedia">
			<item label="Audacious">
				<action name="Execute">
					<command>audacious</command>
				</action>
			</item>
			<item label="Audacity">
				<action name="Execute">
					<command>audacity</command>
				</action>
			</item>
			<item label="GTK Record-My-Desktop">
				<action name="Execute">
					<command>gtk-recordMyDesktop</command>
				</action>
			</item>
			<item label="Openshot">
				<action name="Execute">
					<command>openshot-qt</command>
				</action>
			</item>
			<item label="SM Player">
				<action name="Execute">
					<command>smplayer</command>
				</action>
			</item>
			<item label="Simplescreenrecorder">
				<action name="Execute">
					<command>simplescreenrecorder</command>
				</action>
			</item>
			<item label="VLC">
				<action name="Execute">
					<command>vlc</command>
				</action>
			</item>			
			<item label="XFBurn">
				<action name="Execute">
					<command>xfburn</command>
				</action>
			</item>
		</menu>
		<menu id="network" label="Network">
			<item label="Chromium Browser">
				<action name="Execute">
					<command>chromium</command>
				</action>
			</item>
			<item label="Firefox Browser">
				<action name="Execute">
					<command>firefox</command>
				</action>
			</item>
			<item label="Filezilla FTP Client">
				<action name="Execute">
					<command>filezilla</command>
				</action>
			</item>
			<item label="HexChat IRC Client">
				<action name="Execute">
					<command>hexchat</command>
				</action>
			</item>
			<item label="Opera Browser">
				<action name="Execute">
					<command>opera</command>
				</action>
			</item>
			<item label="Remote Filesystems">
				<action name="Execute">
					<command>gigolo</command>
				</action>
			</item>
			<item label="Transmission BitTorrent Client">
				<action name="Execute">
					<command>transmission-gtk</command>
				</action>
			</item>
		</menu>
		<menu id="office" label="Office">
			<item label="Calculator">
				<action name="Execute">
					<command>galculator</command>
				</action>
			</item>
			<item label="Evince PDF Viewer">
				<action name="Execute">
					<command>evince</command>
				</action>
			</item>
			<item label="Gnumeric Spreadsheet">
				<action name="Execute">
					<command>gnumeric</command>
				</action>
			</item>
			<item label="Google Docs">
				<action name="Execute">
					<command>exo-open https://drive.google.com/</command>
				</action>
			</item>
			<menu id="office menu" label="Libre Office">
				<item label="Libre Office Base">
					<action name="Execute">
						<command>libreoffice -base</command>
					</action>
				</item>
				<item label="Libre Office Calc">
					<action name="Execute">
						<command>libreoffice -calc</command>
					</action>
				</item>
				<item label="Libre Office Draw">
					<action name="Execute">
						<command>libreoffice -draw</command>
					</action>
				</item>
				<item label="Libre Office Impress">
					<action name="Execute">
						<command>libreoffice -impress</command>
					</action>
				</item>
				<item label="Libre Office Math">
					<action name="Execute">
						<command>libreoffice -math</command>
					</action>
				</item>
				<item label="Libre Office Writer">
					<action name="Execute">
						<command>libreoffice -writer</command>
					</action>
				</item>
				<item label="Libre Office Printer Admin">
					<action name="Execute">
						<command>libreoffice-printeradmin</command>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="programming" label="Programming">
			<item label="Geany">
				<action name="Execute">
					<command>geany</command>
				</action>
			</item>
			<item label="Sublime Text">
				<action name="Execute">
					<command>subl3</command>
				</action>
			</item>
		</menu>		
		<separator/>
		<menu execute="/usr/bin/al-places-pipemenu" id="pipe-placesmenu" label="Places"/>
		<menu execute="/usr/bin/al-recent-files-pipemenu" id="pipe-recentfilesmenu" label="Recent Files"/>
		<separator/>	
		<menu id="Configure" label="Configure">
			<item label="Aureola Conky">
				<action name="Execute">
					<execute>exo-open ~/.config/conky/conky.conf</execute>
				</action>
			</item>
			<menu execute="al-compositor" id="CompositingPipeMenu" label="Compositor"/>
			<item label="Keyboard Shortcuts">
				<action name="Execute">
					<execute>obkey</execute>
				</action>
			</item>
			<menu id="obConfig" label="Openbox">
				<item label="Edit menu.xml">
					<action name="Execute">
						<command>
                            exo-open ~/.config/openbox/menu.xml
                        </command>
					</action>
				</item>
				<item label="Edit rc.xml">
					<action name="Execute">
						<command>
                            exo-open ~/.config/openbox/rc.xml
                        </command>
					</action>
				</item>
				<item label="Edit autostart">
					<action name="Execute">
						<command>
                            exo-open ~/.config/openbox/autostart
                        </command>
					</action>
				</item>
				<separator/>
				<item label="GUI Menu Editor">
					<action name="Execute">
						<command>
                            obmenu
                        </command>
					</action>
				</item>
				<item label="GUI Config Tool">
					<action name="Execute">
						<command>
                            obconf
                        </command>
					</action>
				</item>
				<separator/>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu execute="/usr/bin/al-tint2-pipemenu" id="pipe-tint2menu" label="Tint2"/>
			<item label="Tint2conf">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
		</menu>			
		<separator/>	
		<menu id="preferences" label="Preferences">
			<item label="LightDM Appearance">
				<action name="Execute">
					<command>
                        gksudo lightdm-gtk-greeter-settings
                    </command>
				</action>
			</item>
			<item label="LX Appearance">
				<action name="Execute">
					<command>
                        lxappearance
                    </command>
				</action>
			</item>
			<item label="Qtconfig-qt4">
				<action name="Execute">
					<command>
                        qtconfig-qt4
                    </command>
				</action>
			</item>
			<item label="Set Any Wallpaper">
				<action name="Execute">
					<command>
                        nitrogen
                    </command>
				</action>
			</item>
			<item label="Set ArchLabs Wallpaper">
				<action name="Execute">
					<execute>~/.config/openbox/set-archlabs-wallpaper-dual-screen.sh</execute>
				</action>
			</item>
			<separator/>
			<item label="Display">
				<action name="Execute">
					<command>
						arandr
					</command>
				</action>
			</item>	
			<item label="Notifications">
				<action name="Execute">
					<command>xfce4-notifyd-config</command>
				</action>
			</item>
			<item label="Power Management">
				<action name="Execute">
					<command>
                        xfce4-power-manager-settings
                    </command>
				</action>
			</item>
			<item label="Xfce4 Appearance">
				<action name="Execute">
					<command>
                        xfce4-appearance-settings
                    </command>
				</action>
			</item>
			<item label="Xfce4 Settings">
				<action name="Execute">
					<command>
                        xfce4-settings-manager
                    </command>
				</action>
			</item>		
		</menu>
		<menu id="system" label="System">
			<item label="File Manager As Root">
				<action name="Execute">
					<command>
                        gksudo thunar
                    </command>
				</action>
			</item>
			<item label="GParted">
				<action name="Execute">
					<command>
                        gksudo gparted
                    </command>
				</action>
			</item>
			<item label="Login Settings">
				<action name="Execute">
					<command>
                        gksudo geany /etc/lightdm/lightdm-gtk-greeter.conf /etc/lightdm/lightdm.conf
                    </command>
				</action>
			</item>
			<item label="Pamac Manager">
				<action name="Execute">
					<command>
                        pamac-manager
                    </command>
				</action>
			</item>
			<item label="Pamac Updater">
				<action name="Execute">
					<command>
                        pamac-updater
                    </command>
				</action>
			</item>
			<item label="Preferred Applications">
				<action name="Execute">
					<command>
                        exo-preferred-applications
                    </command>
				</action>
			</item>	
			<menu execute="/usr/bin/al-printing-pipemenu" id="PrintingPipeMenu" label="Printers"/>
			<item label="Text Editor As Root">
				<action name="Execute">
					<command>
                        gksudo geany
                    </command>
				</action>
			</item>
		</menu>
		<separator/>
		<menu execute="/usr/bin/al-help-pipemenu" id="help" label="Help &amp; Resources"/>
		<menu execute="al-kb-pipemenu" id="keybinds" label="Display Keybinds"/>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<command>
                   slimlock
                </command>
			</action>
		</item>
		<item label="Exit">
			<action name="Execute">
				<execute>oblogout</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
